language: php
sudo: false
php:
  - '7.1'
addons:
  sonarcloud:
    organization: "leonardxfce-github"
    token:
      secure: $SONAR_TOKEN
script:
  - composer install
  - mkdir -p build/logs
  - composer test
  - sonar-scanner
  - php vendor/bin/phpunit -c phpunit.xml.dist --coverage-clover build/logs/clover.xml
  - php vendor/bin/php-coveralls -v
cache:
  directories:
    - $HOME/.composer/cache
    - vendor